*, *::after,*::before{
    box-sizing: border-box;
    
}
body{
    font-family: 'Source Serif Pro', serif;
    color: black;
}
.center{
    text-align: center;
}
h1{
    color: #fb3640;
}
h2{
    color: #542e71;
}
h3{
    color: #fdca40;
}